.root {
  color: var(--white);
  padding: 20px;
  padding-bottom: 70px;
}

.black {
  background-color: var(--black);
}

.grey {
  background-color: var(--grey);
}

.blue {
  background-color: var(--blue);
}
